html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*{
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: transparent;
    color: rgb(255, 255, 255); 
    border: 1px solid transparent;
    margin-top: 0;
    position: fixed;
    text-shadow: 0.2em 0.2em 0.2em black;
}

.logo {
    height: 75px;
    border-radius: 100%;
    margin-left: 15px;
    margin-right: 400px;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; 
    color: rgb(255, 255, 255); 
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
}

nav li {
    margin-right: 70px;
    color: rgb(255, 255, 255); 
    align-items: center;
    transition: transform 0.2s;
    font-family: 'Kanit', sans-serif;
}

nav li:hover {
    transform: scale(1.1);
}

nav a {
    text-decoration: none;
    font-weight: bold; 
    font-size: 20px; 
    align-items: center; 
    color: rgb(255, 255, 255); 
}

nav a:hover{
    color: #87af70;
}
.imagempri {
    width: 100%;
    height: 550px;
    opacity: 100%;
    border-radius: 0%;
    
   
}

body {
    background: #181717;
}




.container {
    text-align: center;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}


.caixinhas {
   
    margin: 10px;
    border: 1px solid transparent;
    padding: 45px 35px;
    background-color: #a4ad9e;
    text-align: center;
    transition: transform 0.2s; 
    font-family: 'Kanit', sans-serif;
    font-size: large;
    border-radius: 20px;
}

.caixinhas:hover {
    transform: scale(1.1); 
}
.infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-top: 0;
}
.info {
    display: inline-block;
    text-align: center;
    width: 40%;
    margin: 10px;
    padding: 15px;
    font-family: 'Kanit', sans-serif;
    font-size: large;
    
}

.meio{

    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.imgmeio{
    width: 100%;
    height: 550px;
    opacity: 100%;
    border-radius: 0%;}

.img2{
    width: 50%;
    height: auto;
    margin: 20px;
}

.divmeio2{
   display: flex;
   align-items: center;
}

.divmeio2 h1{
    color: white;
    align-items: center;
}
.escritomeio{
    border: solid 2px transparent;
    margin: 10px;
    padding: 10px 10px;
    background: #aab4a3;
    border-radius: 20px;

}

.divmeio2 h2{
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 30px;
}



.divmeio2 img{
    border-radius: 15px;
}

.butorcamentos{
    align-items: center;
    align-content: center;
    padding: 30px 90px;
    margin-left: 170px;
    border-radius: 20px;
    border: solid 1px transparent;
    box-shadow: 0.2em 0.2em 0.2em black;
    font-size: 16px;

    

}

.botao{
    padding: 20px 15px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: #000000;
    background-color:#7d8b74;
    font-size: large;
    transition: transform 0.2s;
    text-decoration: none;
    margin-top: 30px;
    border-radius: 16px;
    box-shadow: 10px 5px 5px black;
}

.botao a{
    text-decoration: none;
}

.botao:hover {
    transform: scale(1.1);
    
}

.perfil{
    height: 500px;
    border-radius: 100%;
    box-shadow: #ffffff;
    

}

.foto {
    text-align: center; 
    margin-top: 75px;
    transition: transform 0.2s;
    box-shadow: #ffffff;

    
}

.foto:hover{
    transform: scale(1.1);
}

.textdiv{
    font-family: 'Kanit', sans-serif;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.txt{
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    text-shadow: #000000;
}