
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #363636;
    color: rgb(255, 255, 255); 
    border: 1px solid #1d1d1d;
    margin-top: 0;
}

.logo {
    height: 90px;
    border-radius: 100%;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; 
    color: rgb(255, 255, 255); 
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
}

nav li {
    margin-right: 70px;
    color: rgb(255, 255, 255); 
    align-items: center;
    transition: transform 0.2s;
    font-family: 'Kanit', sans-serif;
}

nav li:hover {
    transform: scale(1.1);
}

nav a {
    text-decoration: none;
    font-weight: bold; 
    font-size: 20px; 
    align-items: center; 
    color: rgb(255, 255, 255); 
}

nav a:hover{
    color: #87af70;
}
.imagempri {
    width: 100%;
    height: 550px;
    opacity: 70%;
    border-radius: 0%;
    padding-right: 35px;
   
}

body {
    background-color: #706f6f;
}
.container {
    text-align: center;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.caixinhas {
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: rgb(174, 179, 176);
    text-align: center;
    transition: transform 0.2s; 
    font-family: 'Kanit', sans-serif;
    font-size: large;
}

.caixinhas:hover {
    transform: scale(1.1); 
}
.infos{
    text-align: center; 
    padding-top: 0px;
    border: solid 1px;
    background-color: #363636;
    color: rgb(167, 167, 167);
    font-size: large;
}
.info {
    display: inline-block;
    text-align: center;
    width: 40%;
    margin: 10px;
    padding: 15px;
    font-family: 'Kanit', sans-serif;
    font-size: large;
    
}

.meio{

    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.imgmeio{
    height: 450px ;
    width: auto;
    border-radius: 75px;
    margin-right: 20px;
}

.divmeio2{
    flex: 1;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    justify-content: center;
    color: #000000;
    background-color: #706f6f;
    padding: 15px;
}

.botao{
    padding: 20px 15px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: #000000;
    background-color:#7d8b74;
    font-size: large;
    transition: transform 0.2s;
    text-decoration: none;
}

.botao a{
    text-decoration: none;
}

.botao:hover {
    transform: scale(1.1);
    
}

.perfil{
    height: 500px;
    border-radius: 100%;
    box-shadow: #ffffff;
    

}

.foto {
    text-align: center; 
    margin-top: 75px;
    transition: transform 0.2s;
    box-shadow: #ffffff;

    
}

.foto:hover{
    transform: scale(1.1);
}

.textdiv{
    font-family: 'Kanit', sans-serif;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.txt{
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    text-shadow: #000000;
}